<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dsa.frontendprojecte" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        tools:replace="android:icon,android:theme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true" >
        <activity
            android:name="com.dsa.frontendprojecte.launcherActivity"
            android:exported="true" />
        <activity
            android:name="com.dsa.frontendprojecte.SplashActivity"
            android:exported="true" />
        <activity
            android:name="com.dsa.frontendprojecte.InventoryActivity"
            android:exported="true" />
        <activity
            android:name="com.dsa.frontendprojecte.gameActivity"
            android:exported="true" />
        <activity
            android:name="com.dsa.frontendprojecte.statsActivity"
            android:exported="true" />
        <activity
            android:name="com.dsa.frontendprojecte.registerActivity"
            android:exported="true" />
        <activity
            android:name="com.dsa.frontendprojecte.editUserActivity"
            android:exported="true" />
        <activity
            android:name="com.dsa.frontendprojecte.buyItemActivity"
            android:exported="true" />
        <activity
            android:name="com.dsa.frontendprojecte.storeActivity"
            android:exported="true" />
        <activity
            android:name="com.dsa.frontendprojecte.PrincipalActivity"
            android:exported="true" />
        <activity
            android:name="com.dsa.frontendprojecte.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:exported="true"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="fullSensor"
            android:theme="@style/UnityThemeSelector" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
    </application>

</manifest>